/* ------------------------------------
   Root variable for viewport height fix
   (mainly for mobile devices)
------------------------------------- */
:root {
  --vh: 100vh; /* Fallback if JS doesn't update this dynamically */
}

/* ------------------------------------
   Global body styles
------------------------------------- */
body {
  margin: 0;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 100vh;
  font-family: 'Aller', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d444b;
  box-sizing: border-box;
}

/* ------------------------------------
   Main layout container // Contenedor Principal
------------------------------------- */
.main-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/images/bg.png');
  background-size: contain;
}

/* ------------------------------------
   Header section
------------------------------------- */
.header {
  position: relative; /* Necesario para usar posicionamiento absoluto dentro */
  width: 100%;
  height: 19.5vh;
  background-image: url('./assets/images/header.svg');
  background-size: 150%;
  background-position: 50% 97%;
}

.header .logo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.io-btn-container {
  top: 32%;
  height: 25%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 66%;
  z-index: 2;
}

/* ------------------------------------
   Div section
------------------------------------- */
.info-container{
  margin-top: 3vh;
  height: 6.5vh;
  width: 80%;
  background-color: #2d444b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.info-container p{
  color: #ffffffff;
  font-family: 'Aller';
  font-size: 80%;
}


/* ------------------------------------
   Button container
------------------------------------- */
.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60.4vh;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
}

/* ------------------------------------
   Generic button styles
------------------------------------- */
.button {
  position: relative;
  width: 50%;
  height: 23.25%;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  background: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.button:hover {
  filter: brightness(1.1);
}

/* ------------------------------------
   Specific buttons (different images)
------------------------------------- */
#mute-btn {
  aspect-ratio: 1;
  height: 100%;
  width: auto;
  background-image: url('./assets/images/soundon.png');
}

#back-btn {
  aspect-ratio: 1;
  height: 100%;
  width: auto;
  background-image: url('./assets/images/back.png');
}

#button-one {
  background-image: url('./assets/images/boton1.png');
}

#button-two {
  background-image: url('./assets/images/boton2.png');
}

#button-three {
  background-image: url('./assets/images/boton3.png');
}

/* ------------------------------------
   Footer styles
------------------------------------- */
.footer {
  width: 100%;
  height: 10.6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url('assets/images/footer.svg');
  background-size: cover;
  background-position: 0% 12%;
}

.footer-contents {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

/* ------------------------------------
   Logo
------------------------------------- */
.logo {
  height: 90%;
  width: auto;
  z-index: 200;
}

.logo img {
  height: 100%;
  width: auto;
}


/* Estilos para resoluciones bajas */
@media (min-width: 400px) {
  .io-btn-container {
    gap: 260px; /* Ajustar el valor de gap para resoluciones bajas */
    height: 30%;
  }

  .footer-contents {
    height: 70%;
  }

  .info-container{
    width: 30vw;
  }
}
