/* ------------------------------------
   Root variable for viewport height fix
   (mainly for mobile devices)
------------------------------------- */
:root {
  --vh: 100vh; /* Fallback if JS doesn't update this dynamically */
}

/* ------------------------------------
   Global body styles
------------------------------------- */

body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Asegura que el cuerpo ocupe toda la altura del viewport */
  display: flex;
  overflow: hidden;
  flex-direction: column; /* Organiza los hijos verticalmente */
  justify-content: flex-start; /* Asegura que el contenido comience desde la parte superior */
  background-color: #2d444b;
}


/* ------------------------------------
   Main layout container // Contenedor Principal
------------------------------------- */
.main-layout {
  flex: 1; /* Permite que este contenedor tome el espacio restante */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-image: url('./assets/images/bg.png');
  background-size: contain;
  background-position: center;
}

/* ------------------------------------
   Header section
------------------------------------- */
.header {
  position: relative; /* Necesario para usar posicionamiento absoluto dentro */
  width: 100%;
  height: 19.5vh;
  background-image: url('./assets/images/header.svg');
  background-size: 150%;
  background-position: 50% 97%;
}

.header .logo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.io-btn-container {
  top: 32%;
  height: 25%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 66%;
  z-index: 2;
}

/* ------------------------------------
   Div section
------------------------------------- */
.info-container{
  margin-top: 3vh;
  height: 6.5vh;
  min-width: 50vw;
  width: 80vw;
  background-color: #2d444b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.info-container p{
  color: #ffffffff;
  font-family: 'Aller';
  font-size: 80%;
  text-justify:  center;
}


/* ------------------------------------
   Button container
------------------------------------- */
.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
}

/* ------------------------------------
   Generic button styles
------------------------------------- */
.button {
  position: relative;
  width: 50%;
  height: 23.25%;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  background: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.button:hover {
  filter: brightness(1.1);
}

/* ------------------------------------
   Specific buttons (different images)
------------------------------------- */
#mute-btn {
  aspect-ratio: 1;
  height: 100%;
  width: auto;
  background-image: url('./assets/images/soundon.png');
}

#back-btn {
  aspect-ratio: 1;
  height: 100%;
  width: auto;
  background-image: url('./assets/images/back.png');
}

#button-one {
  background-image: url('./assets/images/boton1.png');
}

#button-two {
  background-image: url('./assets/images/boton2.png');
}

#button-three {
  background-image: url('./assets/images/boton3.png');
}

/* ------------------------------------
   Footer styles
------------------------------------- */
.footer {
  width: 100%;
  height: 12vh; /* Tamaño fijo para el footer */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('assets/images/footer.svg');
  background-size: cover;
  margin-top: 7%;
  background-position: 10% 30%;
}

.footer-contents {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  margin-bottom: 3%;
}

/* ------------------------------------
   Logo
------------------------------------- */
.logo {
  height: 90%;
  width: auto;
  z-index: 200;
}

.logo img {
  height: 100%;
  width: auto;
}


/* Estilos para resoluciones bajas */
@media (min-width: 400px) {
  .header .logo{
    height: 100%;
    top: 43%;
    left: 50%;
  }

  .io-btn-container {
    gap: 260px; /* Ajustar el valor de gap para resoluciones bajas */
    height: 30%;
  }

  .footer {
    margin-top: 5%;
    height: 8vh;
    background-position: 50% 10%;
  }

  .footer-contents {
    height: 70%;
    margin-bottom: 0;
  }

  .footer-contents .logo{
    margin-top: calc(2vh - 1vw);
    height: 6vh;
  }

  .info-container{
    width: 30vw;
  }

  .info-container p{
    font-size: 70%;
  }
}

@media(min-height: 800px){
  .footer{
    margin-top: 10vh;
  }
}
